# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/27a83346-23fb-4653-8ef6-f468903320f9.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/09fca4e6-01fa-49f5-86fb-11989cfe9c5a.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/d42bd793-72ac-4b11-8c9f-d23748325742.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/fb3d331f-1686-4fb1-a12d-aa5bc2859f8a.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/fca75daf-be08-49fc-983b-acb29b5161cc.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/0bd3d577-b2b1-4716-aab7-82c199c7c3bb.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/51e6e8f5-2b91-4288-88d8-cd9c9bbe5f3e.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/c69bf7e2-caf5-448e-ab10-e5f82682e6e3.vsidx
Fossilbiler-API/.vs/Fossilbiler-API/FileContentIndex/fb67147d-fdae-4814-a332-bab2bc906c19.vsidx
